@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
  --color-one: #000000;
  --color-two: #ffffff;
  --color-three: #0D3B66;
  --color-four: #9E2B25;
  --color-five: #FAF0CA;
  --color-six: #F4D35E;
  --color-seven: #EE964B;
}

hr {
  border-color: rgb(83, 83, 83);
  border-bottom: 0px;
  height: 2px;
  background-color: var(--color-three);
  margin-top: 50px;
  margin-bottom: 50px;
}

.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero_background {
	position: absolute;
  width: 100%;
  justify-content: center;
	z-index: -10;
	top: -120px;
	opacity: 34%;
  background-image: linear-gradient(rgb(255, 0, 0), rgba(255, 255, 255, 0));
  
}

.topnav {
  background-color: white;
  overflow: hidden;
  font-family: "Playfair Display SC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
  z-index: 20;
  position: fixed;
  transform: translateY(-260px);
}

.topnav a:hover {
	transition: all 1s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	background-color: var(--color-three);
	color: black;
	text-shadow: 0px 0px 10px #00000031;
	box-shadow: 0px 0px 200px 0px #ffffff;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 7px 0 7px 0;
  margin: 15px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s, color 0.2s;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* box-shadow: var(--color-three) 0px 0px 10px 30px; */
  color: rgb(255, 255, 255);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-bottom-color: #d9d2c0;  /* light tan rule */
  color: var(--color-three);
  background: transparent;       /* kill the navy fill on hover */
  box-shadow: none;
  text-shadow: none;
}

.topnav a.active {
  color: white;
  /* box-shadow: var(--color-three) 0px 0px 10px 20px; */
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 21;
}

.topnav a.active,
.topnav a.active:hover {
  border-bottom-color: var(--color-four);  /* #9E2B25 red */
  color: var(--color-one);
  background: transparent;       /* kill the navy fill */
  box-shadow: none;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.nav_num {
  font-size: 13px;
  font-family: "Playfair Display SC", serif;
  color: rgba(158, 158, 158, 0.611);
}

p .logo_text {
  text-align: right;
  font-family: "Playfair Display SC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.main {
  padding: 35px;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* border: solid var(--color-three) 2px; */
  border-radius: 5px;
  backdrop-filter: blur(150px);
}

.footer {
  font-family: "Playfair Display SC", serif;
  padding: 35px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 25px;
  border: solid rgba(0, 0, 0, 0.589) 2px;
  border-radius: 5px;
  backdrop-filter: blur(150px);
  text-align: center;
}

.footer a {
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  margin-right: 20px;
}

.footer a:hover {
  color: rgb(160, 94, 94);
}

.footer h3 {
  font-size: 13px;
  font-family: "Playfair Display SC", serif;
}

.parallax {
  min-height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: solid rgba(0, 0, 0, 0.589) 2px;
  border-radius: 5px;
  margin-top: 50px;
}

.parallax_home {
  background-image: url("images/xandro-vandewalle-j6XLbdXabfw-unsplash.jpg");
  background-size: 55%;
  background-position: center bottom -360px;
  min-height: 500px;
}

.parallax_skills {
  background-image: url("images/bw_butterfly.jpg");
  background-position: center bottom -750px;
  background-size: 60%;
}

.parallax_reflection {
  background-image: url("images/bw_twobirds.jpg");
  background-position: center;
}

p,
ul {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 30px;
  font-size: 19px;
}

h2,
h3,
button {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.accordion {
  background-color: #1e87e967;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.first_accordion {
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.last_accordion {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion .active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.logo {
  height: 24px;
}

.activity {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.activity_text {
  color: black;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-amwm {
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

iframe {
  width: 100%;
  height: 500px;
}

body {
  background-color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 20px 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

h1,
h2,
h3,
p {
  text-align: center;
}

.hero_card {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
	grid-template-areas: "hero_card_img hero_card_txt";
	grid-template-columns: 1fr 3fr;
  gap: 0px;
	padding: 0px;
}

.container>div {
	background-color: rgba(255, 255, 255, 0.8);
}
.container>div.hero_card_img {
	grid-area: hero_card_image;
}
.container>div.hero_card_txt {
	grid-area: hero_card_text;
}

.hero_card_img {
	max-height: 400px;
}
/* adds a drop shadow to the image using webkit filters, and the default as backup. */
.hero_card_img img {
	height: 100%;
	border-radius: 0;
}
/* General styling for the text on the title card. */
.hero_card_txt {
	margin: auto;
	font-weight: 400;
	font-style: normal;
  font-family: "Playfair Display", serif;
}
/* more refined text styling for the smaller 'sub-title'. */
.hero_card_txt h1 {
	color: #191919;
	text-shadow: rgba(255, 255, 255, 0.27) 0px 0 8.6px;
	font-size: 44px;
}
/* makes the main title larger and clearer than usual */
.hero_card_txt h2 {
	color: #191919;
	font-size: 22px;
}

.hero_card_txt h3 {
	color: #191919;
	font-size: 8px;
}





.pages_cards_wrapper {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
	grid-template-areas: "pages_cards_large pages_cards_column";
	grid-template-columns: 3fr 2fr;
  gap: 0px;
	padding: 0px;
}
.pages_cards_large {
	height: 300px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  background-color: var(--color-three);
}
.pages_cards_column {
	font-weight: 400;
	font-style: normal;
  font-family: "Playfair Display", serif;
  height: 300px;
}
.pages_cards_small {
  height: 140px;
  width: 100%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350%;
  background-color: var(--color-three);
}
.pages_cards_small:hover {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 30px;
  scale: 1.02;
  background-size: 400%;
}
.pages_cards_large:hover {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 30px;
  scale: 1.02;
  background-size: 350%;
}
.pages_cards_column h1 {
	color: white;
	text-shadow: rgba(255, 255, 255, 0.27) 0px 0 8.6px;
	font-size: 44px;
  font-family: "Playfair Display SC", serif;
}
.pages_cards_column h2 {
	color: white;
	font-size: 22px;
  margin-top: 50px;
  font-family: "Playfair Display SC", serif;
}
.pages_cards_large h2 {
	color: white;
	font-size: 22px;
  margin-top: 130px;
  font-family: "Playfair Display SC", serif;
}
a {
  text-decoration: none;
}
.main img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home_hero {
  margin: 260px 0px 180px 0px;
  text-align: center;
  font-family: "Playfair Display SC", serif;
}

.home_hero h1 {
  font-size: 84px;
  color: #191919;
  line-height: 70px;
}

.home_hero h2 {
  font-size: 22px;
  color: #191919;
  line-height: 20px;
  margin: 40px 0px 0px 0px;
}

.home_hero h3 {
  font-size: 18px;
  color: #343434c3;
  margin: -40px 0px 0px 0px;
}

.fiftypx_spacing {
  height: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}

.gallery-item {
  position: relative;
  width: calc(25% - 20px);
  height: auto;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.gallery-item:hover {
  transform: scale(1.1);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

/* Modal content (image) */
.modal-content {
  position: relative;
  width: 90%;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
  overflow: hidden;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {transform: scale(0.6);}
  to {transform: scale(1);}
}

.modal.show {
  display: flex;
  opacity: 1;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}

/* Caption of modal image */
.caption {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

.pop_up_image {
  /*The styling for the image container that pops up when clicked*/
  position: fixed;
  /*Makes the image stay in the same place even when scrolling*/
  top: 0;
  /*Positions the container at the center, using the top left cornor*/
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /*Makes the rest of the page dark*/
  height: 100%;
  /*Makes the container take up the whole height and width*/
  width: 100%;
  z-index: 100;
  /*Puts it in front of the other elemts*/
  display: none;
  /*Doesn't show until the image is clicked on*/
}
.pop_up_image span {
  /*Used to creat the close button X*/
  position: absolute;
  /*Makes it possible to position using top and right*/
  top: 0;
  /*Puts it near the top right corner, 10px from the right*/
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  /*Makes it bold for easier visibility*/
  color: #ffffff;
  cursor: pointer;
  /*Makes the cursor a pointer to tell the user it can be clicked on*/
  z-index: 100;
  /*Puts it in front of the rest of the page*/
}
.pop_up_image img {
  position: absolute;
  /*Makes it so the image can be controlled using top and left*/
  top: 50%;
  /*Puts it top left corner at the center*/
  left: 50%;
  transform: translate(-50%, -50%);
  /*moves it so the middle point is at the center*/
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
  /*Makes the aspect ratio stay the same in all device sizes*/
  transition: 0.6s;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
  margin: 0;
}

.card img:hover {
  opacity: 0.8;
  cursor: pointer;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 30px;
  scale: 1.05;
}

.img_desc {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 20px;
  font-size: 15px;
  color:rgba(104, 104, 104, 0.612);
  margin: -10px 0 45px 0;
}

@media screen and (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .gallery-item {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 600px) {
  iframe {
    width: 100%;
    height: 300px;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}